/* 공통 */
html {
    font-size: 20px;
}

body {
    font-size: 1rem;
    color:#333;
    font-weight: 400;
    line-height: 1.4;
    font-family: 'Nanum Gothic', sans-serif;
    overflow-x: hidden;
}

img {
    display:block;
}

a{
    text-decoration: none;
}

.inner{
    width: 55rem;
    margin: 0 auto;
    position: relative;
   }

/* Header */

header{
    background-color: #f6f5f0;
    border-bottom: 0.05rem solid #c8c8c8;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10
}

header > .inner{
  height: 6rem;
}

header .logo{
    height: 4.75rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-left: .5rem;
}

header .image{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;    
}

header .sub-menu {
    display: flex;
    top: 1rem;
    right: 0rem;
    position: absolute;
}



header .sub-menu ul.menu{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

header .sub-menu ul.menu li{
    position: relative;
}


header .sub-menu ul.menu li::before{
    content: "";
    width: 0.05rem;
    height: 0.6rem;
    background-color:#656565;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

header .sub-menu ul.menu li:first-child::before{
    display: none;
}    

header .sub-menu ul.menu li a{
    font-size: .75rem;
    margin: -.25rem;
    padding: .55rem .8rem;
    color: #656565; 
    display: block;
}

header .sub-menu ul.menu li a:hover{
    color: #000; 
}

header .sub-menu .search {
    height: 1.7rem;
    position: relative;
}

header .sub-menu .search input {
    width: 1.8rem;
    height: 1.7rem;
    padding: .2rem .5rem;
    border: .05rem solid #ccc;
    box-sizing: border-box;
    border-radius: .25rem;
    outline: none;
    background-color: #fff;
    color: #777;
    font-size: .6rem;
    transition: width .4s;
}

header .sub-menu .search input:focus {
    width: 9.5rem;
    border-color: #ccc;
    outline: none;
}


header .sub-menu .search .material-icons {
    position: absolute;
    height: 1.2rem;
    right: .25rem;
    top: 0;
    bottom: 0;
    margin: auto;
}

header .inner .icon-group{
    display:none;
}

header .main-menu{
    display: flex;
    top: 3rem;
    right: 0px;
    position: absolute;
}


header .main-menu .item{
    padding: .5rem 0 1.7rem 1rem;
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}


header ul.main-menu li a{
    color: #656565;
}

header ul.main-menu li a:hover{
    color: #d2386c;
}


/* 모바일용  메인메뉴*/

header .main-menu-mobile{
    background-color: #f6f5f0;
    display: flex;
    flex-direction:column;  
    text-decoration: none;
    position: absolute;
    align-items: center;
    display: none;
    top: 6rem;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: -2rem;
}

header .main-menu-mobile .item{
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    justify-content: right;
    text-align: right;
    margin-left: -20rem;
}


header ul.main-menu-mobile li a{
    color: #656565;
}

header ul.main-menu-mobile li a:hover{
    color: #d2386c;
}



/* 뱃지 */
header .badges{
    position: absolute;
    top: 6.6rem;
    right: 0.6rem;
}

header .badges .badge{
    border-radius: .5rem;
    overflow: hidden;
    margin-bottom: .6rem;
    box-shadow: .2rem .2rem .5rem rgba(0, 0, 0, .15);
    cursor: pointer;
}

/* VISUAL */

.visual {
    margin-top: 6rem;
    background-image: url("../images/bg6.jpeg");
    background-position: center;
    width: 100%;
}

.visual .inner{
    height: 22.5rem;
}

.visual .inner .title{
    width: 60rem;
}

.visual .inner .title p{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 9rem;
    margin-left: .5rem;
}

.visual .inner .title p.under{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Parisienne';
    position: absolute;
    top: 12.5rem;
    margin-left: .5rem;
}


/* previous */

.previous{
    background-image: url("../images/bg1.jpg");
    background-position: center;
    width: 100%;
}

.previous .inner{
    height: 25rem;
    position: relative;
}

.previous .inner .first{
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    padding: 5rem 0;
    right: -.05rem;
}


.previous .inner .text{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    padding: 9rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}


.previous .inner .text p a{
    color: #d2386c;
}

.previous .inner .text p a:hover{
    color: #656565;
}

/* previous-work */

.previous-work{
    background-image: url("../images/bg1.jpg");
    background-position: center;
    width: 100%;
    display: none;
}


.previous-work .inner{
    height: 20rem;
    position: relative;
}

.previous-work .inner .text h1{
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    padding: 5rem 0;
    margin-left: 2rem;
    top : .5rem;
}


.previous-work .inner .text p{
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 2rem;
    position : absolute;
    margin-top: 10rem;
    padding: 10rem auto;    
    display: inline;
    line-height: .5rem;
}



/* .previous-work .inner .text p .text1{
    position: absolute;
    top: 12rem;
}

.previous-work .inner .text p .text2{
    position: absolute;
    top: 14rem;
} */

.previous-work .inner .text p a{
    color: #d2386c;
}

.previous-work .inner .text p a:hover{
    color: #656565;
}





/* LINE */

.line{
    background-image: url("../images/bg2.jpg");
    background-position: center;
}


.line .inner{
    height: 5rem;
    position: relative;
}

.line .inner .horizontal,
.line .inner .horizontal1,
.line .inner .horizontal2{
    width: 96rem;
    height: 5rem;
    top: 6rem;
}

.line .inner .horizontal .text{
    font-size: 1.9rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 1.25rem;
    margin-left: 2rem;    
}

/* mobile-horizontal */
.string{
    background-image: url("../images/bg2.jpg");
    background-position: center;
    display: none;
}

.string .inner{
    height: 5rem;
    position: relative;
}

.string .inner .horizontal .text{
    font-size: 1.9rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 1.25rem;
    margin-left: 2rem;    
}

/* ABOUT */


.about .swiper-container{
    background-image: url("../images/bg2.jpg");
	width: 100%;
	height: 25rem;
    position: relative;
}


.about .swiper-container .swiper-wrapper .swiper-slide{
    width : 100%;
	display:flex; 
	align-items:center; 
	justify-content:center; 
    position: relative;
    opacity: .3;
    transition: opacity 1s;
}

.about .swiper-container .swiper-wrapper .swiper-slide-active{
    opacity: 1;
}

.about .swiper-container .swiper-pagination{
    /* position: absolute; */
    bottom : -2rem;

}

.about .swiper-container .swiper-button-prev .material-icons{
    color: #777;
    font-size: 3.5rem;
    margin-left: 2.5rem;
    z-index:50;
}


.about .swiper-container .swiper-button-next .material-icons{
    color: #777;
    font-size: 3.5rem;
    margin-right: 2.5rem;
    z-index:50;
}


.about .swiper-container .swiper-button-prev::after,
.about .swiper-container .swiper-button-next::after{
    display: none;
}

.mobile{
    display: none;
}

.mobile .swiper-container{
    background-image: url("../images/bg2.jpg");
    margin: 0;
    padding: 0;
	width: 100%;
	height: 100%;
    position: relative;
}

.mobile .swiper-container .swiper-wrapper .swiper-slide{
    width : 100%;
	display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center; /* 위아래 기준 중앙정렬 */
	justify-content:center; 좌우 기준 중앙정렬
    position: relative;
}



.mobile .swiper-container .swiper-pagination{
    position: absolute;
    bottom : .75rem;

}


/* YOUTUBE VIDEO */
.youtube {
    position: relative;
    height: 32.5rem;
    background-image: url("../images/bg2.jpg");
    overflow: hidden;
}

.youtube .youtube__area{
    width: 96rem;
    position: absolute;
    left: 50%;
    margin-left: calc(96rem / -2);
    top: 50%;
    margin-top: calc(96rem * 9 / 16 / -2)
}

.youtube .youtube__area::before{
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
}


#player{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* CONTACT */

.contact{
    background-image: url("../images/bg1.jpg");
    background-position: center;
    width: 100%;
    height: 17.5rem;
}


.contact .inner{
    position: relative;
}

.contact .inner .text1 p{
    font-size: 1.75rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    display: block;
    top : 1.25rem;
    right: -.05rem;
}

.contact .inner .icons{
    position: absolute;
    display: flex;
    justify-content: center;
}


.contact .inner .icons a{
    text-decoration: none;
    color:#777;
    font-size: 6rem;
    padding : 4.75rem;
}

.contact .inner .icons a:hover{
    color: #d2386c;
}



/* mobile-CONTACT */

.mobile-contact{
    background-image: url("../images/bg1.jpg");
    background-position: center;
    width: 100%;
    height: 15rem;
    display:none; 
}


.mobile-contact .inner{
    position: relative;
}

.mobile-contact .inner .text1 p{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    display: block;
    top : 4.5rem;
    margin-left: 2rem;
}

.mobile-contact .inner .icons{
    position: absolute;
    display: flex;
    justify-content: center;
}


.mobile-contact .inner .icons a{
    text-decoration: none;
    color:#777;
    font-size: 3rem;
    margin-left: 2rem;
    padding : 2rem;
    margin-top: 5.5rem;
}
.mobile-contact .inner .icons a:first-child{
    margin-left: 0;
}

.mobile-contact .inner .icons a:hover{
    color: #d2386c;
}



/* 최상단 버튼 */
.btn_group {
	position:fixed;
	bottom: 1.5rem;
	right:1.5rem;
	z-index:10;
	outline:none;
	color:#333;
	cursor:pointer;
	padding:.75rem 1rem;

}

.btn_group .material-icons{
    font-size: 3.25rem;
    color: #777;
}

.btn_group .material-icons:hover{
    color: #d2386c;
}   




