@charset "utf-8";

html {
    font-size: 12px;
    /* overflow-x: hidden; */
}

body {
    font-size: 1rem;
}

/* HEADER  */

header .sub-menu ul.menu,
header .sub-menu .search input,
header .sub-menu .search .material-icons{
    display: none;
}

header .sub-menu .icon-group{
    display: inline-block;
    padding: .3rem;
    font-size: 3rem;
}

header .sub-menu .icon-group #one,
header .sub-menu .icon-group #two{
    padding-right: 5rem;
}

header .main-menu{
    display: none;
}

